{% extends "base.html.twig" %}

{% block title %}Detail de l'avis
	{{ avis.id }}
{% endblock %}

{% block body %}


	<div class="container">

		<div class="mx-auto alert alert-light text-primary p-4">
			<h5 class="text-center text-warning">Avis du produit :
				{{avis.produit.nom}}
				id:
				{{avis.produit.id}}</h5>

			<span>
				<strong>{{ avis.auteur}}</strong>
			</span>
			<small class="fs-italic">
				Posté le
				{{ avis.createdAt|date('d/m/Y')}}
				à
				{{ avis.createdAt|date('H:i:s')}}

				<i class="text-muted px-2">
					avis n°
					{{avis.id}}</i>
			</small>

			<p class="text-center">
				{{avis.contenu}}
			</p>
			<div class="text-center">

				<a href="{{ path( "app_admin_avis_edit", {'id' : avis.id}) }}" class="btn btn-sm btn-warning">
					<i class="fa-solid fa-pen"></i>
				</a>
				<a href="{{ path( "app_admin_avis_detail", {'id' : avis.id} ) }}" class="btn btn-sm btn-info">
					<i class="fa-solid fa-eye"></i>
				</a>
				<a onclick="return(confirm('Etes-vous certain de vouloir supprimer cet avis?'))" href="{{ path("app_admin_avis_del", {'id' : avis.id}) }}" class="btn btn-sm btn-danger">
					<i class="fa-solid fa-trash"></i>
				</a>

				<a href="{{ path('app_admin_avis') }}" class="btn btn-sm btn-primary">
					Retour
				</a>

			</div>

			<hr>
		</div>

	</div>

{% endblock %}
