{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="/uploads/{{product.image}}" alt="{{product.name}}">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{product.name}}</h3>
            <p>{{product.subtitle}}</p>
            <span class="product-price">{{(product.price / 100 )|number_format(2,',', '.')}} € </span>
            <hr>
            <p>{{product.description}}</p>
        <a href="{{ path('add_to_cart', {id: product.id}) }}"class="btn btn-outline-success">Ajouter au panier</a>
       
        	{# {% if app.user %} #}				
			
			 <h4 class="text-muted my-5 text-center">
				Votre avis compte...</h4>

			{{ form_start(form, {'attr' : {'class' : 'col-md-7 mx-auto'}})}}
			{{ form_row(form.auteur)}}
			{{ form_row(form.contenu)}}
			<button class="btn btn-primary" type="submit">Poster</button>
			{{ form_end(form)}}

			{# {% endif %} #}
			
			<h4 class="my-5 mx-auto text-muted text-center">Vos réactions...</h4>

			<section style="overflow:auto; max-height: 40vh !important;" class="my-5 text-center col-md-8 col-lg-10 mx-auto bg-light p-2">


				{% for avis in product.avis  %}

					<div class="mx-auto alert alert-light text-primary p-4">

						<span>
							<strong>{{ avis.auteur}}</strong>
						</span>
						<small class="fs-italic">
							Posté le
							{{ avis.createdAt|date('d/m/Y')}}
							à
							{{ avis.createdAt|date('H:i:s')}}
						</small>

						<p class="text-center">
							{{avis.contenu}}
						</p>
						<hr>
					</div>

				{% endfor %}

			</section> 
             </div>
    </div>   
{% endblock %}
